<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini WhatsApp</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h3>All Chats History</h3>
    <hr>
    <form method="GET" action="/chats/new">
        <button>New Chat</button>
    </form>
    
        <%for(let chat of chats) {%>
        <div class="chat">
            <p>From: <%= chat.from %></p>
            <div class="msg">
                <form method="get" action="/chats/<%=chat._id%>/edit">
                    <button>Edit</button>
                </form>
                <p>Message:<%= chat.message%></p>
            </div>
            
            <recieved>Recieved by:<%= chat.to%></recieved>
            <hr>
            <p> <%= chat.createdAt.toString().split(" ")[4]%></p>
            <p><%= chat.createdAt.toString().split(" ").slice(0,4).join(" ") %></p>
            <br>
            <form method="post" action="/chats/<%=chat._id%>?_method=DELETE">
                <button>Delete</button>
            </form>
        </div>
        <hr>
    <%}%>

</body>
</html>
